---
import Layout from "@layouts/Layout.astro";

import ProjectCard from "@components/ProjectCard.astro";

import siteData from "@data/site.json";
type Project = {
  name: string;
  tags: string[];
  description: string;
  thumbnail: {
    imagePath: string;
    altText: string;
  };
  projectUrl?: string;
  codeUrl?: string;
};
const projects = siteData.projects as Project[];
---

<Layout title="Reid Fuhrman">
  <section class="projects">
    <div class="cards-wrapper">
      <h2 class="project-header">Projects</h2>
      <div class="project-cards">
        {
          projects.map((project: Project) => {
            const { name, description, tags, thumbnail, projectUrl, codeUrl } =
              project;
            return (
              <ProjectCard
                name={name}
                description={description}
                tags={tags}
                thumbnail={thumbnail}
                projectUrl={projectUrl}
                codeUrl={codeUrl}
              />
            );
          })
        }
      </div>
    </div>
  </section>
</Layout>

<style>
  .projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5em;
  }
  .project-header {
    align-self: start;
  }
  .cards-wrapper {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1;
  }
  .project-cards {
    margin-top: clamp(1.5rem, 2vw, 3rem);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    gap: 3em;
  }
</style>
