---
import Layout from "@layouts/Layout.astro";
import "@fontsource-variable/epilogue";
import "@fontsource/fragment-mono";
import ProjectCard from "@components/ProjectCard.astro";

import siteData from "@data/site.json";
const { projects } = siteData;
type Project = {
  name: string;
  tags: string[];
  description: string;
  thumbnail?: {
    src: string;
    alt: string;
  };
  projectUrl?: string;
  codeUrl?: string;
};
---

<Layout title="Reid Fuhrman">
  <section class="projects">
    <h2 class="project-header">Personal Projects</h2>
    {
      projects.map((project: Project) => {
        const { name, description, tags, thumbnail, projectUrl, codeUrl } =
          project;
        return (
          <ProjectCard
            name={name}
            description={description}
            tags={tags}
            thumbnail={thumbnail}
            projectUrl={projectUrl}
            codeUrl={codeUrl}
          />
        );
      })
    }
  </section>
</Layout>

<style>
  section {
    border-radius: 8px;
  }
  .project-header {
    padding-bottom: 1em;
  }
</style>
