---
import LinkedInIcon from "@assets/svg/linkedin.svg";
import GithubIcon from "@assets/svg/github.svg";

import { Image } from "astro:assets";
import flowersImage from "@assets/images/flowers.png";

const currentYear = new Date(Date.now()).getFullYear();
const iconWidth = 30;
const iconHeight = 30;
---

<footer>
  <span class="reidfuhrman">
    REID FUHRMAN {currentYear} 🌼
  </span>
  <div class="contact">
    <a href="mailto:hey@reidfuhrman.com" target="_blank">
      EMAIL -> HEY@REIDFUHRMAN.COM
    </a>
    <a
      href="https://www.linkedin.com/in/reid-fuhrman/"
      target="_blank"
      aria-label="linkedin"
    >
      <LinkedInIcon height={iconHeight} width={iconWidth} aria-hidden />
    </a>
    <a
      href="https://github.com/rjfuhrman42"
      target="_blank"
      aria-label="github"
    >
      <GithubIcon height={iconHeight} width={iconWidth} aria-hidden />
    </a>
    <!-- <Image
      class="flowers"
      src={flowersImage}
      alt="Three different flowers in a row"
    /> -->
  </div>

  <style>
    footer {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 1em 0em;
      margin-top: auto;
      font-family: "Fragment Mono", monospace;
      font-size: var(--step-0);
      gap: 0.25em;
    }

    .contact {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-weight: bold;
    }

    .reidfuhrman {
      position: relative;
      display: flex;
      gap: 10px;
      font-weight: bold;
    }

    .flowers {
      position: absolute;
      bottom: -25px;
      right: 0;
      max-width: 650px;
      heigh: 350px;
    }

    .blueflower {
      display: inline;
      object-fit: contain;
    }
  </style>
</footer>
