---
import LinkedInIcon from "@assets/svg/linkedin.svg";
import GithubIcon from "@assets/svg/github.svg";

import { Image } from "astro:assets";
import flowersImage from "@assets/images/flowers.png";

const currentYear = new Date(Date.now()).getFullYear();
const iconWidth = 30;
const iconHeight = 30;
---

<footer>
  <span class="reidfuhrman">
    REID FUHRMAN {currentYear} 🌼
  </span>
  <a href="mailto:hey@reidfuhrman.com" target="_blank">HEY@REIDFUHRMAN.COM </a>
  <div class="contact">
    <a
      href="https://www.linkedin.com/in/reid-fuhrman/"
      target="_blank"
      aria-label="linkedin"
    >
      <LinkedInIcon height={iconHeight} width={iconWidth} aria-hidden />
    </a>
    <a
      href="https://github.com/rjfuhrman42"
      target="_blank"
      aria-label="github"
    >
      <GithubIcon height={iconHeight} width={iconWidth} aria-hidden />
    </a>
    <Image
      class="flowers"
      src={flowersImage}
      alt="Three different flowers in a row"
    />
  </div>

  <style>
    footer {
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      padding: var(--site-padding);
      margin-top: auto;
      font-family: "Fragment Mono", monospace;
      font-size: var(--step--1);
      gap: 0.5em;
      font-weight: bold;
    }

    .contact {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .reidfuhrman {
      position: relative;
      display: flex;
    }

    .flowers {
      position: absolute;
      bottom: 0;
      right: 0;
      width: clamp(150px, 45vw, 600px);
    }

    .blueflower {
      display: inline;
      object-fit: contain;
    }
  </style>
</footer>
