---
import LinkedInIcon from "@assets/svg/linkedin.svg";
import GithubIcon from "@assets/svg/github.svg";

import { Image } from "astro:assets";
import flowersImage from "@assets/images/flowers.png";
import blueFlower from "@assets/images/blueflower.png";

const currentYear = new Date(Date.now()).getFullYear();
const iconWidth = 30;
const iconHeight = 30;
---

<footer>
  <span class="reidfuhrman">
    REID FUHRMAN {currentYear}

    <Image
      class="blueflower"
      src={blueFlower}
      height={15}
      width={15}
      alt="A single flower with no stem, five rounded light blue petals, and a yellow disk in the middle of the petals"
    />
  </span>
  <div class="contact">
    <a href="mailto:hey@reidfuhrman.com" target="_blank">
      EMAIL -> HEY@REIDFUHRMAN.COM
    </a>
    <a href="https://www.linkedin.com/in/reid-fuhrman/" target="_blank">
      <LinkedInIcon height={iconHeight} width={iconWidth} />
    </a>
    <a href="https://github.com/rjfuhrman42" target="_blank">
      <GithubIcon height={iconHeight} width={iconWidth} />
    </a>
    <Image
      class="flowers"
      src={flowersImage}
      alt="Three different flowers in a row"
    />
  </div>

  <style>
    footer {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100px;
      margin-top: auto;
      font-family: "Fragment Mono", monospace;
      gap: 0.25em;
    }

    .contact {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-weight: bold;
    }

    .reidfuhrman {
      display: flex;
      gap: 10px;
      font-weight: bold;
    }

    .flowers {
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 650px;
      heigh: 350px;
    }

    .blueflower {
      display: inline;
      object-fit: contain;
    }
  </style>
</footer>
