---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import Button from "@components/Button.astro";

interface Props {
  name: string;
  tags: string[];
  description: string;
  thumbnail?: {
    imagePath: string;
    altText: string;
  };
  projectUrl?: string;
  codeUrl?: string;
}

const { name, tags, description, thumbnail, projectUrl, codeUrl } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "@assets/images/*.{jpeg,jpg,png,gif}",
);
---

<div class="project-card">
  <Image
    class="thumbnail"
    src={images[thumbnail.imagePath]()}
    alt={thumbnail.altText}
  />
  <h3 class="project-name">{name}</h3>

  <ul class="tech-tags">
    {
      tags.map((tag) => {
        return <li>{tag}</li>;
      })
    }
  </ul>
  <p>
    {description}
  </p>
  <div class="button-container">
    <Button text="view project" variant="primary" href={projectUrl} />
    <Button text="view on github" variant="secondary" href={codeUrl} />
  </div>
</div>

<style>
  .project-card {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    border-radius: 0.175rem;
    border: 1.5px solid var(--deep-blue);
    padding: 1em;
  }

  .project-card p {
    font-size: large;
  }

  :global(.dark) .project-card {
    border: 1.5px solid var(--nice-beige);
  }

  .project-name {
    font-size: 2rem;
  }

  .tech-tags {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 10px;
    text-transform: uppercase;
    font-family: var(--mono-font);
  }

  .tech-tags > li {
    padding: 2.5px 10px;
    background-color: var(--deep-blue);
    color: var(--nice-beige);
    border-radius: 0.175rem;
  }

  .thumbnail {
    box-shadow: none;
  }

  :global(.dark) .tech-tags > li {
    background-color: var(--nice-beige);
    color: var(--deep-blue);
  }

  .button-container {
    display: flex;
    gap: 1em;
  }
</style>
